Temp/*
Library/*
profiles/*
Assets/UnityVS/*

*.pidb
*.userprefs
/Library
/obj
*.db
/*.sln
/*.suo
/*.unityproj
/*.csproj
/*.unityproj
*.DotSettings.user
/.vs

**/FMOD/**/*.meta

**/Gremlins.meta

*.cache
*.user